body {
    overflow: hidden;
}

.join-meeting-div {
    background-image: url("https://www.shutterstock.com/image-vector/abstract-blue-background-modern-simple-600nw-2474145007.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    height: 4rem;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: rgb(13, 49, 138);
    display: flex;
    justify-content: space-between;
}

.nav>h1 {
    color: white;
    font-size: 2.5rem;
    margin-top: 7px;
    font-weight: 400 !important;
    margin-left: 1rem;
}

.fa-circle-user {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-right: 0.25rem;
    margin-left: 0.5rem;
    background-color: white;
    border-radius: 52%;
}

.nav-user {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-right: 1rem;
    padding: 0px 1rem;
}

.username-nav {
    color: rgb(214, 214, 214);
    font-weight: 600;
    margin-top: 0.8rem;
    margin-left: 0.3rem;
}

.nav >span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav>span a {
    color: white !important;
    text-decoration: none;
    margin-right: 1rem;
}

.join-meeting-form {
    position: relative;
    left: 38vw;
    top: 40vh;
    width: 25vw;
    border: 0.5px solid white;
    padding: 1rem;
    border-radius: 1rem;
}